{% extends "base.html" %}

{% block content %}
	<script src="/scripts/adminpanel.js"></script>
	<h1>
		Admin Panel
	</h1>
	<table style="width: 100%; table-layout: auto; font-family: Verdana;">
		<tbody>
			<tr>
				<th style="background-image: url('/images/bar.gif'); color: white; height: 20px;">
					Administrator tools
				</th>
			</tr>
			<tr>
				<td style="background-image: url('/images/barGray.gif');">
					Forums
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editforums" class="rowText">Edit and add forums</a>
				</td>
			</tr>
			<tr>
				<td style="background-image: url('/images/barGray.gif');">
					Sidebar
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editannouncement" class="rowText">Edit announcement</a>
				</td>
			</tr>
			<tr>
				<td style="background-image: url('/images/barGray.gif');">
					Forum groups
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editforumgroups" class="rowText">Edit and add forum groups</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	
{% endblock %}