{% extends "base.html" %}

{% block content %}
	<script src="/scripts/adminpanel.js"></script>
	<h1>
		Admin Panel >> Forums >> Create forum
	</h1>
	
	<table class="defaultTable">
		<tbody id="forum_rows">
			<tr>
				<th>
					Create a new forum
				</th>
			</tr>
			<tr>
				<td style="background-color: #cee7ff;">
					<table style="border-spacing: 8px; border-collapse: separate;">
						<tbody>
							<tr>
								<td style="text-align: right; vertical-align: top;">
									Name: 
								</td>
								<td>
									<input style="width: 100%;" id="name">
								</td>
							</tr>
							<tr>
								<td style="text-align: right; vertical-align: top;">
									Description: 
								</td>
								<td>
									<textarea rows="9" cols="40" id="desc"></textarea>
								</td>
							</tr>
							<tr>
								<td style="text-align: right; vertical-align: top;">
									Forum group: 
								</td>
								<td>
									<select id="forum_group">
										{% for i in forum_groups %}
										<option>{{i}}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td>
									<button type="button" style="float: right; padding: 2px 16px" onclick="create_forum()">Create</button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}