{% extends "base.html" %}

{% block content %}
	<h1>
		Subforums
	</h1>
	<table style="width: 100%" border=1>
		<tbody>
			<tr>
				<th class="sfhead" style="width: 81%">
					Name
				</th>
				<th class="sfhead" style="width: 19%">
					Threads
				</th>
			</tr>
			<tr>
				<td colspan="2" style="background-image: url('/images/barGray.gif');">
					<p style="color: black; font-family: 'Verdana'; font-size: 13px; min-height: 20px;" class="rowText">Main subforums</p>
				</td>
			</tr>
			{% for label in subforums %}
			<tr style="height: 50px;">
				<td style="background-color: #b9dcff;">
					<a href="/sf/{{label.id}}" class="rowText">{{label.name}}</a>
					<br>
					<p class="rowText" style="font-size: 13px; color: #414141">{{label.desc}}</p>
				</td>
				<td style="background-color: #cee7ff;">
					<p class="rowText">{{label.post_count}}</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}