{% extends "base.html" %}

{% block content %}
	<span class="location">
		Member list
	</span>
	
	<table class="defaultTable">
		<tbody>
			<tr style="text-align: left;">
				<th>
					ID
				</th>
				<th>
					Username
				</th>
				<th>
					Date joined
				</th>
				<th>
					Last login
				</th>
				<th>
					Post count
				</th>
			</tr>
			{% for label in users %}
			<tr style="background-color: #cee7ff;">
				<td style="width: 1px;">
					{{label.id}}
				</td>
				<td>
					{{label.username}}
				</td>
				<td>
					{{label.date_joined}}
				</td>
				<td>
					{{label.last_login}}
				</td>
				<td>
					{{label.posts}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}