{% extends "base.html" %}

{% block content %}
	<span class="location">
		Member list
	</span>
	
	<div style="font-family: Arial; font-weight: bold; font-size: 0.8em; margin-bottom: 4px; margin-left: 100px;">
		{% for i in letters %}
			<a href="javascript:alpha('{{i}}')" class="rowText">{{i}}</a> |
		{% endfor %}
		<a href="" class="rowText">All</a>
	</div>
	
	<div style="float: right">
		<b>Sort:&nbsp;</b>
		<select style="border-color:black; margin-bottom: 3px" name="displayMode" onchange="changeMode();">
			<option value="flat">Date joined</option>
			<option value="threaded">Last login</option>
			<option value="threaded">Posts</option>
		</select>
		<select style="border-color:black; margin-bottom: 3px" name="sortOrder" onchange="changeMode();">
			<option value="oldest_to_newest">Oldest to newest</option>
			<option value="newest_to_oldest" {% if sortOrder == 1 %}selected{% endif %}>Newest to oldest</option>
		</select>
	</div>
	
	<table class="defaultTable">
		<tbody>
			<tr style="text-align: left;">
				<th>
					ID
				</th>
				<th>
					Username
				</th>
				<th>
					Date joined
				</th>
				<th>
					Last login
				</th>
				<th>
					Post count
				</th>
			</tr>
			{% for label in users %}
			<tr style="background-color: #cee7ff;">
				<td style="width: 1px;">
					{{label.id}}
				</td>
				<td>
					<a href="/profile/{{label.id}}">{{label.username}}</a>
				</td>
				<td>
					{{label.date_joined}}
				</td>
				<td>
					{{label.last_login}}
				</td>
				<td>
					{{label.posts}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<div style="float: right;">
		<span style="font-size: 20px;">Find users: </span>
		<input value="{{last_search}}" id="search_input"></input>
		<button type="button" style="padding: 1px 8px;" onclick="searchUser()">Find</button>
	</div>
{% endblock %}

{% block scriptcontent %}
	<script>
		function searchUser() {
			FormSubmit("search", {
				search: search_input.value
			}, window.location.pathname)
		}
		function alpha(letter) {
			FormSubmit("firstLetter", {
				letter: letter
			}, window.location.pathname)
		}
	</script>
{% endblock %}