{% extends "base.html" %}

{% block content %}
	<h1>
		Forums >> {{forum_name}} >> Create thread
	</h1>
	<div style="display:none;" id="previous_thread_url">{{cancel_url}}</div>
	<table style="width: 100%" border=1>
		<tbody>
			<tr>
				<th class="sfhead">
					Thread Creation Page
				</th>
			</tr>
			<tr style="height: 512px;">
				<td style="height: 512px; background-color: #DDEEFF">
					<table style="width: 100%; height: 512px; margin: 5px;">
						<tbody>
							<tr style="height: 1px;">
								<td style="text-align: right; padding-right: 5px; adding-bottom: 8px">
									Title: 
								</td>
								<td style="padding-bottom: 8px;">
									<input style="width: 90%" id="title">
								</td>
							</tr>
							<tr>
								<td style="vertical-align:top; width: 50px; text-align: right">
									<label style="vertical-align: top; padding-right: 5px">Body: </label>
								</td>
								<td style="height: 100%">
									<textarea id="body" style="width: 90%; height: 100%"></textarea>
								</td>
							</tr>
							<tr style="height: 1px">
								<td style="width: 100px"></td>
								<td>
									<input type="checkbox" id="font" style="margin-left: 2px">&nbsp;Consolas
								</td>
							</tr>
							<tr style="height: 1px;">
								<td colspan="2">
									<div style="width: 90%; height: 1px">
										<div style="float:right;">
											<button style="padding: 1px 17px;" onclick="cancel();" type="button">Cancel</button>
											<button style="padding: 1px 17px;" onclick="postthread();" type="button">Post</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block scriptcontent %}
	<script>
		function postthread(){
			FormSubmit("post_thread", {
				title: document.getElementById("title").value,
				body: document.getElementById("body").value,
				consolas: document.getElementById("font").checked
			}, window.location.pathname)
		}
		function cancel(){
			window.location.pathname = document.getElementById("previous_thread_url").innerText
		}
	</script>
{% endblock %}