{% extends "base.html" %}

{% block content %}
	<h1>
		Register
	</h1>
	<table class="defaultTable">
		<tbody>
			<tr>
				<th style="text-align: left">
					Register account
				</th>
			</tr>
			
			<tr style="height: 145px; vertical-align:top; background-color: #cee7ff">
				<td>
					<div>
						<form action="/register" method="post">
							<br>
							Username: <input type="text" name="reg_user">
							<br>
							<br>
							Password: <input type="password" name="reg_pass">
							<br>
							<br>
							<input type="submit" value="Register" style="float:right;">
						</form>
						<label>{{err_label}}</label>
					</div>
				</td>
			</tr>
			
		</tbody>
	</table>
{% endblock %}