{% extends "base.html" %}

{% block content %}
	<h1>
		Forums >> {{f_g.name}} >> {{forum_name}}
	</h1>
	<button onclick="location.href = '/post/{{forum_id}}';" type="button">Create new thread</button>
	<br>
	{% if pagebar.threadcount != 0 %}
	<table class="defaultTable">
		<tbody>
			<tr>
				<th class="sfhead" colspan="2">
					Threads
				</th>
				<th class="sfhead" style="width: 200px;">
					Posted by
				</th>
				<th class="sfhead" style="width: 100px;">
					Views
				</th>
			</tr>
			{% for label in threads %}
			<tr style="height: 30px;">
				{% if !label.read %}
				<td style="width: 30px; background-color: #cee7ff;">
					<img src="/images/thread.png">
				</td>
				{% else %}
				<td style="width: 30px; background-color: #cee7ff;">
					<img src="/images/thread_read.png">
				</td>
				{% endif %}
				<td style="background-color: #b9dcff; word-break: break-all;">
					<a href="/thread/{{label.id}}" class="rowText">{{label.title}}</a>
				</td>
				<td style="background-color: #cee7ff; word-break: break-all;">
					<a href="/profile/{{label.userid}}" class="rowText">{{label.postedby}}</a>
				</td>
				<td style="background-color: #b9dcff; word-break: break-all; text-align: center">
					<span class="rowText">{{label.views}}</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p>There are no threads</p>
	{% endif %}
	
	{% if pagebar.pagebarVisible %}
	<div style="float:right">
		Go to page:&nbsp;
		{% if pagebar.page != 1 %}
			<a href="{{pagebar.path}}/{{pagebar.prevPage}}" class="control">Previous</a>
		{% endif %}
		
		{% if pagebar.dddA %}
			{% if pagebar.page != "1" %}<a href="{{pagebar.path}}" class="control">1</a>&nbsp;
			{% else %}
				<b>1<b>&nbsp;
			{% endif %}
			
			{% if pagebar.page != "2" %}<a href="{{pagebar.path}}/2" class="control">2</a>&nbsp;
			{% else %}
				<b>2<b>&nbsp;
			{% endif %}
			
			{% if pagebar.page != "3" %}<a href="{{pagebar.path}}/3" class="control">3</a>&nbsp;
			{% else %}
				<b>3<b>&nbsp;
			{% endif %}
			...&nbsp;
		{% endif %}
		
		{% for data in pagebar.pages %}
			{% if pagebar.page != data %}
			<a href="{{pagebar.path}}{% if data != 1 %}/{{data}}{% endif %}" class="control">{{data}}</a>&nbsp;
			{% else %}
			<b>{{data}}</b>
			{% endif %}
		{% endfor %}
		
		{% if pagebar.dddB %}
			...&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.a}}" class="control">{{pagebar.a}}</a>&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.b}}" class="control">{{pagebar.b}}</a>&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.c}}" class="control">{{pagebar.c}}</a>
		{% endif %}
		
		{% if pagebar.page < pagebar.pageCount %}
			<a href="{{pagebar.path}}/{{pagebar.nextPage}}" class="control">Next</a>
		{% endif %}
		<br>
		<div style="float:right">
			<input id="pagenumber" maxlength="10" style="width: 100px"></input>&nbsp;<button onclick="updpage()" type="button">Goto page</button>
			<p id="err" hidden>&nbsp;</p>
		</div>
	</div>
	<br>
	{% endif %}
	<b style="font-family: Verdana; font-size: 0.6em">Page {{pagebar.page}} of {{pagebar.pageCount}}</b>
	<div style="float:right; clear:both">
		<a href="javascript:FormSubmit('mark_all_as_read', {})" class="sblink">Mark all threads as read</a>
	</div>
{% endblock %}

{% block scriptcontent %}
	<script>
		var decs = "0123456789"
		function updpage(){
			var nbr = document.getElementById("pagenumber").value
			var err = document.getElementById("err")
			for(var i = 0; i < nbr.length; i++){
				var isNumber = false;
				for(var g = 0; g < 10; g++){
					var c = nbr.charAt(i);
					if(c == g){
						isNumber = true;
						break
					}
				}
				if(!isNumber) {
					err.innerText = "Invalid number"
					err.hidden = false
					return
				}
			}
			var path = window.location.pathname.split("/");
			var base = [path[0], path[1], path[2]].join("/")
			
			var page = path[3]
			if(page === undefined || page === "" || isNaN(page)){
				page = 1
			}
			if(nbr === undefined || nbr === "" || isNaN(nbr)){
				nbr = 1
			}
			if(nbr == "0") {
				nbr = 1
			}
			if(page != nbr){
				if(nbr == 1) {
					window.location.pathname = base
				} else {
					window.location.pathname = base + "/" + nbr
				}
			}
		}
	</script>
{% endblock %}