{% extends "base.html" %}

{% block content %}
	<h1 style="word-break: break-all;">
		Subforums >> {{subforum_name}} >> {{thread_title}}
	</h1>
	<div style="float: right">
		<b>Display mode:&nbsp;</b>
		<select style="border-color:black; margin-bottom: 3px" name="displayMode" onchange="changeMode();">
			<option value="flat">Flat (Default)</option>
			<option value="threaded">Threaded</option>
		</select>
		<select style="border-color:black; margin-bottom: 3px" name="sortOrder" onchange="changeMode();">
			<option value="oldest_to_newest">Oldest to newest</option>
			<option value="newest_to_oldest">Newest to oldest</option>
		</select>
	</div>
	<table style="width: 100%; table-layout: auto;" border=1>
		<tbody>
			<tr>
				<td style="text-align: right; background-image: url('/images/barGray.gif');" colspan="2">
					<label>&lt&lt</label> <a href="/thread/{{prevThread}}" class="control">Previous</a> | <a href="/thread/{{nextThread}}" class="control">Next</a> <label>&gt&gt</label>
				</td>
			</tr>
			<tr>
				<th class="sfhead" style="width: 128px; text-align: left;">
					User
				</th>
				<th class="sfhead" style="text-align: left; word-break: break-all;">
					Thread: {{thread_title}}
				</th>
			</tr>
			
			{% for label in posts %}
			<tr style="height: 145px;">
				<td style="vertical-align:top; width: 180px; background-color: #{% if label.alternate == 0 %}6fb7ff{% else %}95caff{% endif %}; word-break: break-all; font-size: 13px; padding: 3px;">
					{% if label.online %}
					<img src="/images/online.png">
					{% else %}
					<img src="/images/offline.png">
					{% endif %}
					<b><a href="/profile/{{label.userid}}" style="font-size: 15px">{{label.username}}</a></b>
					<br>
					<b>Post Count: </b>{{label.postcount}}
					<br>
					<b>Join Date: </b>{{label.joindate}}
				</td>
				<td style="vertical-align:top; background-color: #{% if label.alternate == 0 %}b9dcff{% else %}a6d2ff{% endif %};">
					<table style="height: 145px; width: 100%; table-layout: fixed;">
						<tbody>
							<tr style="height:1px; background-color: #6ca7ff">
								<td style="word-break: break-all; padding: 3px;">
									<b>
										{{label.title}}
									</b>
									<br>
									<label style="font-size: 13px">{{label.post_date}}</label>
								</td>
							</tr>
							<tr>
								<td style="vertical-align:top">
									<div style="word-wrap: break-word; padding: 3px;{% if label.consolas %} font-family: Consolas;{% endif %}">
										{{label.body | safe}}
									</div>
								</td>
							</tr>
							<tr style="height:1px">
								<td style="background-color: cyan" class="thread_bar">
									<a href="{{label.replyurl}}" style="color:blue;">Post reply</a>
									{% if label.owner %}
									<a href="javascript:DEL_PST({{label.id}}, {{label.type}}, {{label.redir}});" style="color:blue; float:right">Delete post</a>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
{% endblock %}

{% block scriptcontent %}
	<script>
		function DEL_PST(id, type, redir){
			var con = confirm("Are you sure you want to delete this post?")
			if(!con) return
			var request = new XMLHttpRequest();
			request.open('DELETE', "/thread/" + id, true);
			request.onload = function() {
				if(type == 0){
					console.log(redir)
					window.location.pathname = redir
				}
				if(type == 1){
					window.location.reload()
				}
			};
			request.send()
		}
		function changeMode() {
			var form = document.FORM
			form.submit()
		}
	</script>
{% endblock %}