{% extends "base.html" %}

{% block content %}
	<span class="location">
		Forums >> {{f_g.name}} >> {{forum_name}} >> {{thread_title}}
	</span>
	
	<input type="checkbox" id="track" style="margin-left: 2px" onclick="trackthread()"{% if tracked %} checked{% endif %}>&nbsp;Tracked
	
	<div style="float: right">
		<b>Display mode:&nbsp;</b>
		<select style="border-color:black; margin-bottom: 3px" name="displayMode" onchange="changeMode();">
			<option value="flat">Flat (Default)</option>
			<option value="threaded" {% if displayMode == 1 %}selected{% endif %}>Threaded</option>
		</select>
		<select style="border-color:black; margin-bottom: 3px" name="sortOrder" onchange="changeMode();">
			<option value="oldest_to_newest">Oldest to newest</option>
			<option value="newest_to_oldest" {% if sortOrder == 1 %}selected{% endif %}>Newest to oldest</option>
		</select>
	</div>
	{% if !displayMode %}
	<table class="defaultTable" style="font-family: initial;">
		<tbody>
			<tr>
				<td style="text-align: right; background-image: url('/images/barGray.gif');" colspan="2">
					<label>&lt&lt</label> <a href="/thread/{{prevThread}}" class="control">Previous</a> | <a href="/thread/{{nextThread}}" class="control">Next</a> <label>&gt&gt</label>
				</td>
			</tr>
			<tr>
				<th style="width: 128px; text-align: left;">
					User
				</th>
				<th style="text-align: left; word-break: break-all;">
					Thread: {{thread_title}}
				</th>
			</tr>
			
			{% for label in posts %}
			<tr style="height: 145px;">
				<td style="vertical-align:top; width: 180px; background-color: #{% if label.alternate == 0 %}6fb7ff{% else %}95caff{% endif %}; word-break: break-all; font-size: 13px; padding: 3px;">
					{% if label.online %}
					<img src="/images/online.png">
					{% else %}
					<img src="/images/offline.png">
					{% endif %}
					<b><a href="/profile/{{label.userid}}" style="font-size: 15px">{{label.username}}</a></b>
					<br>
					<b>Post Count: </b>{{label.postcount}}
					<br>
					<b>Join Date: </b>{{label.joindate}}
				</td>
				<td style="vertical-align:top; background-color: #{% if label.alternate == 0 %}b9dcff{% else %}a6d2ff{% endif %};">
					<table style="height: 145px; width: 100%; table-layout: fixed;">
						<tbody>
							<tr style="height:1px; background-color: #6ca7ff">
								<td style="word-break: break-all; padding: 3px; height: 1px;">
									<b>
										{{label.title}}
									</b>
									<br>
									<label style="font-size: 13px">{{label.post_date}}</label>
								</td>
							</tr>
							<tr>
								<td style="vertical-align:top">
									<div style="word-wrap: break-word; padding: 3px;{% if label.consolas %} font-family: Consolas;{% endif %}">
										{{label.body | safe}}
									</div>
								</td>
							</tr>
							<tr style="height:1px">
								<td style="background-color: cyan; height: 1px" class="thread_bar">
									<a href="{{label.replyurl}}" style="color:blue;">Post reply</a>
									{% if label.moderator %}
									<a href="javascript:DEL_PST({{label.id}}, {{label.type}}, {{label.redir}});" style="color:blue; float:right">Delete post</a>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
	{% else %}
	<div style="display:none;" id="max_threshold">{{max_threshold}}</div>
	<br>
	
	{% for label in posts %}
	
		{{label.end_slash_div | safe}}
	
		<div>
	
		<table style="width: 100%; table-layout: auto;" id="{{label.id}}:{{label.parent}}:{{label.threshold}}" class="post">
			<tbody>
				<tr>
					{% if label.threshold > 0 %}
					<td style="width: {{label.indent}}px">
					</td>
					{% endif %}
					<td style="width: 1px; vertical-align: top">
						<img src="/images/collapse.png" onclick="javascript:col({{label.index}},{{label.id}},{{label.parent}},{{label.threshold}})" style="margin-right: 3px;{% if label.children_count == 0 %} visibility: hidden;{% endif %}">
					</td>
					<td>
						<div style="width: 100%">
							<div style="background-color: #4444EE; color: white; font-family: Verdana; word-wrap: break-word;">
								<a href="/profile/{{label.user}}" style="color: #66ccff;"><b style="font-size: 1em;">{{label.username}}</b></a>
								&nbsp;
								<span>[ {{label.post_date}} ]</span>
								<br>
								{{label.title}}&nbsp;<a href="{{label.reply_url}}" style="color:orange">Reply</a>
							</div>
							<div style="background-color:#9999FF; word-wrap: break-word; word-break: break-all;">
								{{label.body | safe}}
							</div>
						</div>
						<br>
					</td>
				</tr>
			</tbody>
		</table>
	{% endfor %}
	{{remaining_end_slash_div | safe}}
	
	<div style="float:right">
		<a href="javascript:collapse_all()">Collapse All</a>&nbsp;|&nbsp;
		<a href="javascript:expand_all()">Expand All</a>
	</div>
	
	{% endif %}
	
	{% if pagebar.pagebarVisible %}
	<div style="float:right">
		Go to page:&nbsp;
		{% if pagebar.page != 1 %}
			<a href="{{pagebar.path}}/{{pagebar.prevPage}}" class="control">Previous</a>
		{% endif %}
		
		{% if pagebar.dddA %}
			{% if pagebar.page != "1" %}<a href="{{pagebar.path}}" class="control">1</a>&nbsp;
			{% else %}
				<b>1</b>&nbsp;
			{% endif %}
			
			{% if pagebar.page != "2" %}<a href="{{pagebar.path}}/2" class="control">2</a>&nbsp;
			{% else %}
				<b>2</b>&nbsp;
			{% endif %}
			
			{% if pagebar.page != "3" %}<a href="{{pagebar.path}}/3" class="control">3</a>&nbsp;
			{% else %}
				<b>3</b>&nbsp;
			{% endif %}
			...&nbsp;
		{% endif %}
		
		{% for data in pagebar.pages %}
			{% if pagebar.page != data %}
			<a href="{{pagebar.path}}{% if data != 1 %}/{{data}}{% endif %}" class="control">{{data}}</a>&nbsp;
			{% else %}
			<b>{{data}}</b>
			{% endif %}
		{% endfor %}
		
		{% if pagebar.dddB %}
			...&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.a}}" class="control">{{pagebar.a}}</a>&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.b}}" class="control">{{pagebar.b}}</a>&nbsp;
			<a href="{{pagebar.path}}/{{pagebar.c}}" class="control">{{pagebar.c}}</a>
		{% endif %}
		
		{% if pagebar.page < pagebar.pageCount %}
			<a href="{{pagebar.path}}/{{pagebar.nextPage}}" class="control">Next</a>
		{% endif %}
		<br>
		<div style="float:right">
			<input id="pagenumber" maxlength="10" style="width: 100px">&nbsp;<button onclick="updpage()" type="button">Goto page</button>
			<p id="err" hidden>&nbsp;</p>
		</div>
	</div>
	{% endif %}
	
	{% if !displayMode %}
	<b style="font-family: Verdana; font-size: 0.6em">Page {{pagebar.page}} of {{pagebar.pageCount}}</b>
	{% else %}
	<b style="font-family: Verdana; font-size: 0.6em">Page 1 of 1</b>
	{% endif %}
{% endblock %}

{% block scriptcontent %}
	<script>
		function DEL_PST(id, type, redir){
			var con = confirm("Are you sure you want to delete this post?")
			if(!con) return
			var request = new XMLHttpRequest();
			request.open('DELETE', "/thread/" + id, true);
			request.onload = function() {
				if(type == 0){
					window.location.pathname = redir
				}
				if(type == 1){
					window.location.reload()
				}
			};
			request.send()
		}
		function changeMode() {
			if(document.getElementById("loginUser")) {
				document.getElementById("loginUser").disabled = true
			}
			if(document.getElementById("loginPass")) {
				document.getElementById("loginPass").disabled = true
			}
			
			var form = document.FORM
			form.submit()
		}
		
		var posts = document.getElementsByClassName("post")
		var max_threshold;
		window.addEventListener("load", function(){
			if(document.getElementById("max_threshold")){
				max_threshold = parseInt(document.getElementById("max_threshold").innerText)
			}
		});
		var collapsed = {}
		var collapsed_by = {} // when you collapse a post, collapse the parent post, and then expand that post, the replies to that post will stay the same state
		
		function col(index, id, parent, threshold){ // collapse or expand a post
		
			var coll = collapsed[index]
		
			var c_idx = index
			
			var imgPos = 0; // which column the collapse/expand icon is on
			if(index != 0) imgPos = 1
			if(!coll) {
				posts[index].children[0].children[0].children[imgPos].children[0].src = "/images/expand.png"
				collapsed[index] = 1
			} else {
				posts[index].children[0].children[0].children[imgPos].children[0].src = "/images/collapse.png"
			}
			while(true){ // iterate over all posts, starting at the collapsed post
				var dat = posts[c_idx].id.split(":") // get data of the post
				var idE = dat[0]; 
				var parentE = dat[1];
				var thresholdE = dat[2]
				
				if(idE != id){ // do not hide the collapsed post
					if(threshold < thresholdE) { // to collapse, all replies under the post are hidden, by determining if the threshold is greater than the post. the deeper the nest, the greater the threshold
						if(!coll) { // not collapsed)
							//collapse the post
							posts[c_idx].hidden = true // hide post
							if(collapsed_by[c_idx] === undefined) collapsed_by[c_idx] = index // remember what post collapsed this post
						}
						if(coll) { // collapsed
							//expand the post
							if(collapsed_by[c_idx] !== undefined){ // post was collapsed by any post
								if(collapsed_by[c_idx] == index){ // show post only if it was expanded by the post that collapsed (hidden) it
									posts[c_idx].hidden = false
									delete collapsed_by[c_idx]
								}
							} else { // post was not collapsed by any post
								posts[c_idx].hidden = false
							}
							
							delete collapsed[index] // no longer a collapsed post
						}
					} else {
						break
					}
				} else {
					if(coll) {
						delete collapsed[index]
					}
				}
				   
				c_idx++
				if(c_idx >= posts.length) break
			}
		}
		function collapse_all(){
			var postIndex = []
			for(var i = 0; i < posts.length; i++){
				var imgPos = 0;
				if(i != 0) imgPos = 1
				
				var dat = posts[i].id.split(":")
				var id = parseInt(dat[0]);
				var parent = parseInt(dat[1]);
				var threshold = parseInt(dat[2])
				
				var img = posts[i].children[0].children[0].children[imgPos].children[0]
				img.src = "/images/collapse.png"
				
				postIndex.push([i, id, parent, threshold])
				
				posts[i].hidden = false
			}
			collapsed = {};
			collapsed_by = {}
			
			
			var idx = max_threshold
			for(var t = 0; t <= max_threshold; t++){
				for(var search = 0; search < postIndex.length; search++){
					if(postIndex[search][3] == idx) {
						col(postIndex[search][0], postIndex[search][1], postIndex[search][2], postIndex[search][3])
					}
				}
				idx--
			}
		}
		function expand_all(){
			for(var thres = 0; thres <= max_threshold; thres++){
				for(var i = 0; i < posts.length; i++){
					var dat = posts[i].id.split(":")
					var id = dat[0];
					var parent = dat[1]
					var threshold = dat[2]
					if(thres == threshold) {
						if(collapsed[i]) {
							col(i, id, parent, thres)
						}
					}
				}
			}
		}
		// Page bar
		var decs = "0123456789"
		function updpage(){
			var nbr = document.getElementById("pagenumber").value
			var err = document.getElementById("err")
			for(var i = 0; i < nbr.length; i++){
				var isNumber = false;
				for(var g = 0; g < 10; g++){
					var c = nbr.charAt(i);
					if(c == g){
						isNumber = true;
						break
					}
				}
				if(!isNumber) {
					err.innerText = "Invalid number"
					err.hidden = false
					return
				}
			}
			var path = window.location.pathname.split("/");
			var base = [path[0], path[1], path[2]].join("/")
			
			var page = path[3]
			if(page === undefined || page === "" || isNaN(page)){
				page = 1
			}
			if(nbr === undefined || nbr === "" || isNaN(nbr)){
				nbr = 1
			}
			if(nbr == "0") {
				nbr = 1
			}
			if(page != nbr){
				if(nbr == 1) {
					window.location.pathname = base
				} else {
					window.location.pathname = base + "/" + nbr
				}
			}
		}
		function trackthread(){
			FormSubmit("track_thread", {
				tracking: document.getElementById("track").checked
			}, window.location.pathname)
		}
	</script>
{% endblock %}