{% extends "base.html" %}

{% block content %}
	<script src="/static/js/adminpanel.js"></script>
	<span class="location">
		Admin Panel
	</span>
	<table class="defaultTable">
		<tbody>
			<tr>
				<th>
					Administrator tools
				</th>
			</tr>
			<tr>
				<td style="background-image: url('/static/img/barGray.gif');">
					Forums
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editforums" class="rowText">Edit forums</a>
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/createforum" class="rowText">Create a forum</a>
				</td>
			</tr>
			<tr>
				<td style="background-image: url('/static/img/barGray.gif');">
					Sidebar
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editannouncement" class="rowText">Edit announcement</a>
				</td>
			</tr>
			<tr>
				<td style="background-image: url('/static/img/barGray.gif');">
					Forum groups
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/editforumgroups" class="rowText">Edit forum groups</a>
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff; height: 40px;">
					<a href="/admin/createforumgroup" class="rowText">Create a forum group</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	
{% endblock %}