{% extends "base.html" %}

{% block content %}
	<span class="location">
		Write message
	</span>
	
	<div style="display:none;" id="to_user_id">{{to_user.id}}</div>
	
	<table class="defaultTable">
		<tbody id="forum_rows" style="background-color: #DDEEFF;">
			<tr>
				<th colspan="2">
					Write message to: {{to_user.username}}
				</th>
			</tr>
			<tr>
				<td>
					<table style="border-spacing: 8px; border-collapse: separate;">
						<tbody>
							<tr>
								<td style="text-align: right;">
									Subject:
								</td>
								<td>
									<input style="width: 100%" id="subject">
								</td>
							</tr>
							<tr>
								<td style="text-align: right; vertical-align: top;">
									Body:
								</td>
								<td>
									<textarea cols="90" rows="20" id="msg_body"></textarea>
								</td>
							</tr>
							<tr>
								<td style="width: 100px;">
								</td>
								<td>
									<div style="float: right;">
										<button type="button" style="padding: 2px 16px;" onclick="window.location.pathname='/profile/{{to_user.id}}'">Cancel</button>
										<button type="button" style="padding: 2px 16px;" onclick="sendmessage()">Send message</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block scriptcontent %}
	<script>
		function sendmessage(){
			FormSubmit("send_message", {
				id: to_user_id.innerText,
				subject: document.getElementById("subject").value,
				body: document.getElementById("msg_body").value
			}, window.location.pathname)
		}
	</script>
{% endblock %}