{% extends "base.html" %}

{% block content %}
	<span class="location">
		Users >> {{pf_username}}
	</span>
	
	<table class="defaultTable">
		<tbody>
			<tr>
				<th>
					Profile: {{pf_username}}
				</th>
			</tr>
			<tr>
				<td style="background-image: url('/static/img/barGray.gif');">
					Information
				</td>
			</tr>
			<tr>
				<td style="background-color: #cee7ff;">
					<table style="border-spacing: 8px; border-collapse: separate;">
						<tbody>
							<tr>
								<td style="text-align: right;">
									Join date:
								</td>
								<td>
									{{joindate}}
								</td>
							</tr>
							<tr>
								<td style="text-align: right;">
									Last login:
								</td>
								<td>
									{{last_login}}
								</td>
							</tr>
							<tr>
								<td style="text-align: right;">
									Post count:
								</td>
								<td>
									{{posts}}
								</td>
							</tr>
							<tr>
								<td style="text-align: right;">
									Type:
								</td>
								<td>
									{% if rank == 0 %}
									User
									{% elseif rank == 1 %}
									Moderator
									{% elseif rank == 2 %}
									Administrator
									{% else %}
									Unknown
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td>
									<button type="button" style="padding: 2px 16px; float: right;" onclick="window.location.pathname='/compose_message/{{user.id}}'">Write message to user</button>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}